<%- include('layout/header.html'); %>
  <div class="container container--login">
    <div class="login-header">
      <div id="logo"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 90 90" style="enable-background:new 0 0 496 90;" xml:space="preserve">
     <style type="text/css">
       .st0{fill:#2E3034;}
       .st1{fill:#488EFF;}
     </style>
     
     <g id="_x35_85943c6-44c2-4af7-b7e4-4113acc99e6e" transform="matrix(3.749996423724724,0,0,3.749996423724724,0.9991281414296296,1.000063776372194)">
       <path class="st1" d="M12.4,19l-6.5,0.9l-0.2-1l-2.7-15l11.2-1.9l5.8-1L22,11.6c0,0.3,0.3,0.5,0.6,0.4c0.3,0,0.5-0.3,0.4-0.6l-2-11
         c0-0.3-0.3-0.4-0.6-0.4l-6.3,1L1.5,0C1.4,0,1.3,0,1.2,0.1C1.1,0.2,1,0.3,1,0.5l-1,18C0,18.7,0.2,19,0.4,19l4.4,0.5L5,20.6
         c0,0.3,0.3,0.4,0.6,0.4l7-1c0.3,0,0.5-0.3,0.4-0.6S12.7,19,12.4,19C12.4,19,12.4,19,12.4,19z M13.1,21.1c-0.1,0.1-0.1,0.2-0.1,0.4
         v2c0,0.3,0.2,0.5,0.5,0.5h2c0.1,0,0.3-0.1,0.4-0.1l5.6-5.6l-2.7-2.7L13.1,21.1z M23.9,15.1l-2-2c-0.2-0.2-0.5-0.2-0.7,0l-1.6,1.6
         l2.7,2.7l1.6-1.6C24,15.7,24,15.3,23.9,15.1z"/>
     </g>
     </svg></div>
      <div><h1>Welcome</h1></div>
      <div><p>Fix & Learn</p></div>
  
        
    </div>

   

    <form class="form-login" method="post" action="/users/register">
      <input type="username" class="form-field" placeholder="Username" name="username">
      <input type="password" class="form-field" placeholder="Password" name="password">
      <input type="password" class="form-field" placeholder="Confirm password" name="confirm_password">
      <button class="btn btn-dark mb-3 btn-login">REGISTER</button>
    </form>
    <!-- <p><%= error %></p> -->
    <a href="/login" class="btn-register mb-3">Login</a>
  </div> 

  </body>
  </html>